
#div2{
    text-align: center;
    border:  solid black 2px;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    margin-left: 10%;
    backdrop-filter: blur(20px);
    justify-content: center;
   
}

#txt1{
    width: 300px;
    height: 40px;
}
#submit {
    width: 230px;
    height: 40px;
    border-radius: 20px;
    color:#fff;
    background-color: #750000;
    cursor:pointer;
}
.icon {
    padding-left: 25px;
    background: url("email.png") no-repeat left;
    background-size: 20px;
    width:300px;
    height: 30px;
  }

  body{
    display:flex;
    justify-content: center;
    align-items: center;
    
    background: url("foget.jpeg") no-repeat;
    background-size: cover;
    background-position:center;

}